<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	
	<!-- DEBUG 용  -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern> [%5p] [%c]\n %m%n</Pattern>
		</encoder>
	</appender>
	
	<!-- INFO 용  -->
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>
	
	<!-- loger -->
	<logger name="board" level="DEBUG" appender-ref="console"/>
	
	<!-- SQL 보여주기 -->
	<logger name="jdbc.splonly" level="INFO" appender-ref="console-infolog"/>
	
	<!-- 조회 결과를 테이블로 보여주기 -->
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
	
	<!-- loop loger -->
	<root level="DEBUG">
		<appender-ref ref="console"/>
	</root>
	
</configuration>