<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="footer footer-default text-center">
<!-- 풋터 -->

    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="">
              About Us
            </a>
          </li>
          <li>
            <a href="">
              Blog
            </a>
          </li>
          <li>
            <a href="">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="" target="_blank">k-saida Capstone Design Team</a> for learn ml
      </div>
    </div>


</footer>

</html>