<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http:www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout/default">

<div th:fragment="navbarFragment">
	<nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="0" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a  class="navbar-brand" href="/lecture/">
          D.I.Y </a>
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
        <!-- 
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> 과정
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/lecture/lectureShow/39" class="dropdown-item">
                <i class="material-icons">layers</i> 인공지능
              </a>
              <a href="" class="dropdown-item">
                <i class="material-icons">content_paste</i> 빅데이터
              </a>
              <a href="" class="dropdown-item">
                <i class="material-icons">content_paste</i> 임베디드
              </a>
            </div>
          </li>
           -->
           
          <li sec:authorize="hasRole('ROLE_STUDENT') || hasRole('ROLE_ADMIN') || hasRole('ROLE_TEACHER')" class="nav-item">
            <a class="nav-link" href="/course/courseList/all/" >
              <i class="material-icons">unarchive</i> 전체강좌
            </a>
          </li>
          
          <li sec:authorize="hasRole('ROLE_STUDENT') || hasRole('ROLE_ADMIN') || hasRole('ROLE_TEACHER')" class="nav-item">
            <a class="nav-link" href="/course/courseMyList" >
              <i class="material-icons">unarchive</i> 내강좌
            </a>
          </li>
          
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="https://k-saida.tk/" >
              <i class="material-icons">unarchive</i> Scratch 3.0
            </a>
          </li>
          
          
          
          <!-- 
          <li sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_TEACHER')" class="nav-item">
            <a class="nav-link" href="/course/courseRegistForm" >
              <i class="material-icons">unarchive</i> 강좌등록
            </a>
          </li>
          
          <li sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_TEACHER')" class="nav-item">
            <a class="nav-link" href="/lecture/lectureRegistForm" >
              <i class="material-icons">unarchive</i> 강의등록
            </a>
          </li>
           -->
          
          <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" >
            <a class="nav-link" href="/user/userList/all" >
              <i class="material-icons">face</i> 회원관리
            </a>
          </li>
          
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/login/login" >
              <i class="material-icons">login</i> 로그인
            </a>
          </li>
          
          <li sec:authorize="!isAuthenticated()" class="nav-item">
          
            <a class="nav-link" href="/login/signupForm" >
              <i class="material-icons">account_box</i> 회원가입
            </a>
          </li>
          
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/login/logout" >
              <i class="material-icons">lock_open</i> 로그아웃
            </a>
          </li>
          
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="/login/logout" >
              <i class="material-icons icon icon-success">done</i>
              <span sec:authentication="principal.username"></span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com" target="_blank" data-original-title="Follow us on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com" target="_blank" data-original-title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

</html>