<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>게시판 작성</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
		<h1>게시판 작성</h1>
		<form action="memberInsert" name="frm" method="POST" enctype="multipart/form-data">
			
			<label for="title">아이디:</label>
  			<input type="text" class="form-control" id="memberId" name="memberId">
  			
  			<label for="title">비밀번호:</label>
  			<input type="text" class="form-control" id="pw" name="pw">
  			
  			<label for="title">이메일:</label>
  			<input type="text" class="form-control" id="email" name="email">
  			
  			<label for="title">이름:</label>
  			<input type="text" class="form-control" id="name" name="name">
  			
  			<label for="title">권한:</label>
  			<input type="text" class="form-control" id="role" name="role">
			
			<!--  input type="file" id="files" name="files" multiple="multiple">  -->
			
			<input type="submit" class="btn btn-primary" value="저장">
		</form>
	</div>
</body>
</html>