<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">  
  <link th:href="@{/assets/css/saidaRegistLecture.css}" rel="stylesheet" />
  

</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	
	
</th:block>

<div layout:fragment="content">
	<div id="page-wrapper">
		 <!-- 사이드바 -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="#">인공지능</a></li>
				<li><span class="input-group-text"><i class="material-icons">video_label</i><a href="/lecture/lectureShow/39">타이타닉 - 개요</a></span></li>
				<li><span class="input-group-text"><i class="material-icons">article</i><a href="/lecture/lectureShow/40">타이타닉 - 데이터처리</a></span></li>
				<li><span class="input-group-text"><i class="material-icons">article</i><a href="/lecture/lectureShow/41">타이타닉 - 모델 생성</a></span></li>
				<li><span class="input-group-text"><i class="material-icons">article</i><a href="/lecture/lectureShow/42">타이타닉 - 예측</a></span></li>
				<li><span class="input-group-text"><i class="material-icons">article</i><a href="/lecture/lectureShow/44">실습하기</a></span></li>
				
			</ul>
		</div>
		<!-- /사이드바 -->

  		<!-- 본문 -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="main-raised">
					<div class="container">
						<div class="section text-center">
							<h2 class="title">당신의 강좌를 등록해주세요</h2>
							<h5 class="description">강좌를 등록</h5>
						</div>
					</div>
					
					<div class="container">
						<div class="section text-center" style="margin-right:20%; margin-left:20%; ">
							<form role="form" method="POST" action="/course/courseRegist"  enctype="multipart/form-data" onsubmit="postForm()">
								
								<label>강좌명</label>
								<input name="couTitle" type="text" class="form-control">
								<br>
								<label>강의 개요</label>
								<textarea class="form-control" rows="3" name="couOutline" style="width: 100%; "></textarea>
								
								<input class="btn btn-info" id="subBtn" type="submit" value="강의등록" style="float: right;"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /본문 -->
	</div>
</div>

	
	
	

</html>